<p>
  <%= hidden_field_tag 'settings[show_progress_bar]', '0', id: nil %>
  <%= check_box_tag 'settings[show_progress_bar]', '1',
                    ['true', '1', true].include?(settings['show_progress_bar']),
                    id: 'settings_show_progress_bar' %>
  <label for="settings_show_progress_bar"><%= l(:setting_show_progress_bar) %></label>
</p>
<p>
  <%= hidden_field_tag 'settings[affect_done_ratio]', '0', id: nil %>
  <%= check_box_tag 'settings[affect_done_ratio]', '1',
                    ['true', '1', true].include?(settings['affect_done_ratio']),
                    id: 'settings_affect_done_ratio' %>
  <label for="settings_affect_done_ratio"><%= l(:setting_affect_done_ratio) %></label>
</p>
<p>
  <%= hidden_field_tag 'settings[subtask_done_ratio]', '0', id: nil %>
  <%= check_box_tag 'settings[subtask_done_ratio]', '1',
                    settings['subtask_done_ratio'].to_s != '0',
                    id: 'settings_subtask_done_ratio' %>
  <label for="settings_subtask_done_ratio"><%= l(:setting_subtask_done_ratio) %></label>
</p>
<p>
  <%= hidden_field_tag 'settings[count_subtask_when_full]', '0', id: nil %>
  <%= check_box_tag 'settings[count_subtask_when_full]', '1',
                    ['true', '1', true].include?(settings['count_subtask_when_full']),
                    id: 'settings_count_subtask_when_full' %>
  <label for="settings_count_subtask_when_full"><%= l(:setting_count_subtask_when_full) %></label>
</p>
<p>
  <%= hidden_field_tag 'settings[combine_checklist_due]', '0', id: nil %>
  <%= check_box_tag 'settings[combine_checklist_due]', '1',
                    settings['combine_checklist_due'].to_s != '0',
                    id: 'settings_combine_checklist_due' %>
  <label for="settings_combine_checklist_due"><%= l(:setting_combine_checklist_due) %></label>
</p>
<p>
  <%= hidden_field_tag 'settings[save_log]', '0', id: nil %>
  <%= check_box_tag 'settings[save_log]', '1',
                    settings['save_log'].to_s != '0',
                    id: 'settings_save_log' %>
  <label for="settings_save_log"><%= l(:setting_save_log) %></label>
</p>
<p>
  <%= hidden_field_tag 'settings[enforce_mandatory]', '0', id: nil %>
  <%= check_box_tag 'settings[enforce_mandatory]', '1',
                    ['true', '1', true].include?(settings['enforce_mandatory']),
                    id: 'settings_enforce_mandatory' %>
  <label for="settings_enforce_mandatory"><%= l(:setting_enforce_mandatory) %></label>
</p>
<p>
  <%= hidden_field_tag 'settings[allow_convert_parent_closed]', '0', id: nil %>
  <%= check_box_tag 'settings[allow_convert_parent_closed]', '1',
                    ['true', '1', true].include?(settings['allow_convert_parent_closed']),
                    id: 'settings_allow_convert_parent_closed' %>
  <label for="settings_allow_convert_parent_closed"><%= l(:setting_allow_convert_parent_closed) %></label>
</p>
<p>
  <label for="settings_enforce_statuses"><%= l(:setting_enforce_statuses) %></label><br>
  <input type="hidden" name="settings[enforce_statuses][]" value="">
  <%= select_tag 'settings[enforce_statuses][]',
                 options_from_collection_for_select(
                   IssueStatus.sorted,
                   :id,
                   :name,
                   Array(settings['enforce_statuses']).map(&:to_s)
                 ),
                 multiple: true,
                 size: 6,
                 id: 'settings_enforce_statuses' %>
</p>
<p>
  <%= hidden_field_tag 'settings[notify_on_assignment]', '0', id: nil %>
  <%= check_box_tag 'settings[notify_on_assignment]', '1',
                    ['true', '1', true].include?(settings['notify_on_assignment']),
                    id: 'settings_notify_on_assignment' %>
  <label for="settings_notify_on_assignment"><%= l(:setting_notify_on_assignment) %></label>
</p>
<p>
  <label for="settings_webhook_url"><%= l(:setting_webhook_url) %></label><br>
  <%= text_field_tag 'settings[webhook_url]', settings['webhook_url'],
                     id: 'settings_webhook_url', size: 60 %>
</p>
<p>
  <%= hidden_field_tag 'settings[include_checklist_assignee]', '0', id: nil %>
  <%= check_box_tag 'settings[include_checklist_assignee]', '1',
                    settings['include_checklist_assignee'].to_s != '0',
                    id: 'settings_include_checklist_assignee' %>
  <label for="settings_include_checklist_assignee"><%= l(:setting_include_checklist_assignee) %></label>
</p>
