<%# Hook partial: rendered below issue details via view_issues_show_details_bottom.
    Partials stay in app/views/checklists/ (display namespace); .js.erb lives in
    app/views/checklist_items/ (controller namespace). %>
<% can_view   = User.current.allowed_to?(:view_checklists,   @project) ||
                User.current.allowed_to?(:done_checklists,   @project) ||
                User.current.allowed_to?(:manage_checklists, @project) %>
<% can_done   = User.current.allowed_to?(:done_checklists,   @project) ||
                User.current.allowed_to?(:manage_checklists, @project) %>
<% can_manage = User.current.allowed_to?(:manage_checklists, @project) %>

<% if can_view %>
<div id="checklist-panel" class="checklist-panel"
     data-issue-id="<%= @issue.id %>"
     data-can-manage="<%= can_manage %>"
     data-can-done="<%= can_done %>"
     data-reorder-url="<%= reorder_issue_checklist_items_path(@issue) %>">

  <h3 class="checklist-title">
    <%= l(:label_checklist) %>
    <% if @issue.checklist_due_date %>
      <% overdue = @issue.checklist_due_date < Date.today %>
      <span class="checklist-next-due<%= ' overdue' if overdue %>"
            title="<%= l(:label_checklist_next_due, date: format_date(@issue.checklist_due_date)) %>">
        &#9200; <%= format_date(@issue.checklist_due_date) %>
      </span>
    <% end %>
  </h3>

  <%= render 'checklists/checklist_progress', issue: @issue %>

  <ul id="checklist-items" class="checklist-items">
    <% @issue.checklist_items.ordered.each do |item| %>
      <%= render 'checklists/checklist_item',
                 item: item, can_done: can_done, can_manage: can_manage %>
    <% end %>
  </ul>

  <% if can_manage %>
    <div class="checklist-add-form">
      <%= form_with url: issue_checklist_items_path(@issue),
                    id: 'checklist-add-form',
                    class: 'checklist-add-form',
                    local: false do |f| %>
        <%= f.text_field :subject,
                         placeholder: l(:label_checklist_add_item),
                         class: 'checklist-new-item-input',
                         autocomplete: 'off',
                         name: 'checklist_item[subject]' %>
        <%= hidden_field_tag 'checklist_item[is_section]', '0', id: 'checklist-is-section' %>
        <button type="button" class="checklist-add-btn" id="checklist-add-item-btn">
          <%= l(:label_checklist_add_item) %>
        </button>
        <button type="button" class="checklist-add-btn checklist-add-section-btn" id="checklist-add-section-btn">
          <%= l(:label_checklist_add_section_button) %>
        </button>
      <% end %>
    </div>

    <% available_templates = ChecklistTemplate.available_for(@project) %>
    <% if available_templates.any? %>
      <div class="checklist-template-bar">
        <%= form_with url: apply_template_issue_checklist_items_path(@issue),
                      method: :post,
                      local: false do |f| %>
          <select name="template_id" class="checklist-template-select">
            <option value=""><%= l(:label_checklist_apply_template) %>&hellip;</option>
            <% available_templates.each do |tmpl| %>
              <option value="<%= tmpl.id %>">
                <%= tmpl.name %><% if tmpl.category %> (<%= tmpl.category.name %>)<% end %>
              </option>
            <% end %>
          </select>
          <button type="submit" class="checklist-add-btn">
            <%= l(:label_checklist_apply_template) %>
          </button>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
<% end %>
